.title2 {
    text-align: center;
}


table {
    border-collapse: collapse;
    margin: auto;
}
table td {
    border: 1px solid #E5E5E5;
}

.title {
    text-align: center;
    font-weight: bold;
    background-color: #EEEEEE;
    width: 200px;
    padding: 10px;
}

.confirm {
    width: 500px;
    padding: 10px 20px;
}

.content {
    white-space: pre-wrap;
    align-items: center;
}

.contact-form_button {
    text-align: center;
    margin-top: 30px;
}

.contact-form_button-submit {
    background: black;
    color: white;
    margin: auto;
    padding: 10px;
    width: 200px;
    height: 40px;
    border: none;
    cursor: pointer;
}