.title {
    text-align: center;
    color: black;
}

.contact-form-row {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.contact {
    font-weight: bold;
    width: 200px;
}

.content {
    font-weight: bold;
}

.contact::after{
    content: "必須";
    padding: 5px;
    background-color: rgb(239, 234, 234);
    color: rgb(134, 131, 131);
    margin: 10px;

}


.contact-form-text {
    margin-left: 50px;
    padding: 8px;
    width: 500px;
}

textarea {
    padding: 10px;
    width: 500px;
    height: 150px;
    margin-left: 120px;
}

.contact-form_button {
    text-align: center;
    margin: auto;
    padding: 10px;
}

.contact-form_button-submit {
    background: black;
    color: white;
    margin: auto;
    padding: 10px;
    width: 200px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.error {
    display: block;
    width: 100%;
    color: red;
    margin-left: 570px;
}
