.title {
    text-align: center;
    color: black;
}

.contact-form {
    text-align: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form_name {
    display: flex;
}

.contact-form_email {
    display: flex;
}

.contact-form_tel {
    display: flex;
}

.contact-form_content {
    display: flex;
}

.contact-form_button {
    text-align: center;
    margin: auto;
    padding: 10px;
}

.contact-form_button-submit {
    background: black;
    color: white;
    margin: auto;
    padding: 10px;
    width: 20%;
    height: 40px;
    border: none;
    cursor: pointer;
}
