.title {
    text-align: center;
    color: black;
}

.contact-form-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0 auto;
    width: 800px;
}

.contact {
    width: 200px;
}

.required::after{
    content: "必須";
    padding: 5px;
    background-color: #FAFAFA;
    color: #C1C1C1;
    margin: 10px;

}


.contact-form-text {
    padding: 8px;
    width: 500px;
    border: 1px solid #F2F2F2;
    border-radius: 2px;
}

textarea {
    padding: 10px;
    width: 500px;
    height: 150px;
    border: 1px solid #F2F2F2;
    border-radius: 2px;
}

.contact-form_button {
    text-align: center;
    margin: auto;
    padding: 10px;
}

.contact-form_button-submit {
    background: black;
    color: white;
    margin: auto;
    padding: 10px;
    width: 200px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.error {
    color: red;
}