.title {
    text-align: center;
    color: black;
}

.contact-form_name {
    display: flex;
}

.contact-form_email {
    display: flex;
}

.contact-form_tel {
    display: flex;
}

.contact-form_content {
    display: flex;
}

